:root{--red:#ED1C24;--darkred:#dc3545;--darkblue:#212529}
.container-fluid{max-width:1600px}
body{background:#34495e;height:100%;background:url(../img/bg.jpg);background-size:cover;margin:20px;font-family:'Open Sans',sans-serif;overflow:hidden!important;}
img{max-width:100%}
.mainbox{position:relative;display:block;background-color:#fff;color:var(--darkBlue);padding:0;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;}
.mainbox>.title{position:relative;font-weight:700;font-size:1rem;color:#212529;padding:10px 15px;line-height:2rem;border-bottom:1px solid #efefef;font-family:'Roboto',sans-serif}
.mainbox>.title.withoutline{border-bottom:0}
.mainbox>.title>.right{float:right;border-left:1px solid #e8ebf5;padding-left:15px;color:var(--darkBlue)}
	.mainbox>.title>.right:last-child{border-left:0px;padding-left:0;}

.mainbox>.title>.right:hover{color:var(--red);text-decoration:none}
.mainbox>.title>.right:after{content:"";clear:both;display:Block}
.mainbox>.title>svg{color:var(--red);width:30px}
.mainbox>.title:not(.withoutline):before{bottom:-1px;width:120px;height:1px;background:#dc3545;content:'';left:0;position:absolute}
.mainbox>.title:after{content:"";clear:both;display:Block}
.mainbox>.content{z-index:9999999999999;position:relative;padding:15px 20px}


body {margin:0 auto; padding: 0;}
#PdfRender {max-width:100%; text-align: center; margin:0;}
#PdfHeader {width:100%; z-index:22; height:6vh; margin:1vh 0;}
#ContentArea {max-height:90vh; overflow-x:hidden; overflow-y:scroll!important; border-top-right-radius: 0; border-bottom-right-radius: 0;}
#ContentArea::-webkit-scrollbar{width:.3em}
#ContentArea::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 2px var(--darkRed)}
#ContentArea::-webkit-scrollbar-thumb{background-color:var(--red);outline:1px solid var(--darkBlue)}

@media only screen and (max-width: 692px) {
body{margin:0;margin-top:20px;font-family:'Open Sans',sans-serif}
.mainbox>.title>.right{float:none;display:block;text-align:center;border-left:0 solid #e8ebf5;padding-left:0;margin:5px 0;color:var(--darkBlue)}
.mainbox>.content.scroll{z-index:9999999999999;position:relative;padding:15px 10px;overflow-x:scroll;overflow-y:hidden;white-space:nowrap;-webkit-overflow-scrolling:touch}
}